.header {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  top: 0;
  
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-list li a.active {
  color: orange;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.search-icon {
  cursor: pointer;
}
